name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build C static library
      working-directory: ./call_c_static/c_static_libs
      run: |
        gcc -c hello.c -o hello.o
        ar rcs libhello.a hello.o
        ls

    - name: Build
      run: cargo build --verbose
